<header class="header">
    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container <%= path === '/' ? 'active' : '' %>">
                            <a href="/" class="sf-with-ul">Shop</a>
                        </li>
                        <li class="megamenu-container <%= path === '/products' ? 'active' : '' %>">
                            <a href="/products" class="sf-with-ul">Products</a>
                        </li>
                        <% if (isAuthenticated) {%>
                            <li class="megamenu-container <%= path === '/orders' ? 'active' : '' %>">
                                <a href="/Orders" class="sf-with-ul">Orders</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>

            <div class="header-right">
                <% if (isAuthenticated) {%>

                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                    </a>

                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>

                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class=" btn-primary " style="padding: 0 10px; margin: 0 10px; border: none " type="submit">Log out</button>
                    </form>
                <% } else {%>

                <ul class="menu sf-arrows">
                    <li class="megamenu-container <%= path === '/login' ? 'active' : '' %>">
                        <a href="/Login" class="sf-with-ul">Login Now</a>
                    </li>
                </ul>

                <% }%>

            </div>
        </div>
    </div>
</header>
